.Header{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Header a{
    font-size: 150%;
}

.Landing{
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100vw;
height: 100vh;
}

.Landing h1{
    color: white;
    font-size: 7vw;
    font-weight: bold;
}

.Landing h2{
    color: white;
    font-size: 6vw;
}

.Social{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 5%;
}

.Social i{
    color:white;
    font-size: 5vw;
    padding: 10%;
}

.Projects{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;  
}

.ProjectsContent{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
}

.Project{
    margin: 0 2vw;
}

.ProjectTab{
    position: sticky;
    left: 1vw;
}

.About{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.AboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}


.AboutText h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2.5vw;
    color: white;
    font-weight: bold;
}

.AboutText p{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 1.5vw;
    margin-right: 10%;
    text-align: left;
    line-height: 1.6;
}

img{
    width: 60%;
    height: 60%;
 }

 .material-icons{
    opacity: 0;
}

@media (max-width:850px){
    .About{
        flex-direction: column;
        align-items: center;
    }

    .AboutImage{
        width: 100vw;
        height: 100vh;
    }

    .AboutText{
        width: 100vw;
        height: 100vh;
    }

    .AboutText h1{
        font-size: 5vh;
        margin-top: 0;
    }

    .AboutText p{
        font-size: 3.5vw;
        margin: 50px;
        margin-top: 5px;
    }
    
    img{
        height: auto;
    }

    .material-icons{
        opacity: 1;
        color:white;
    }
}



